{% load static %}
<html>
    <head>

        <script src="{% static 'scripts.js' %}"></script>
        <title>Sign up</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'matchApp.css' %}">
    </head>
    <style>


    </style>

    <body>
      <body>



                  {% block content %}
                  {% endblock %}

       </body>
    </body>


</html>
