{% extends 'matchapp/base.html' %}
{% load static %}

{% block content %}


  <div class="container_register">
    <div class="container">
        <div class="row">


        <div class="col-md-7 ">

        <div class="panel panel-default">
        <div class="panel-heading">  <h4 >User Profile</h4></div>
         <div class="panel-body">

          <div class="box box-info">

                  <div class="box-body">
                           <div class="col-sm-6">
                           <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">

                      <input id="profile-image-upload" class="hidden" type="file">
        <div style="color:#999;" >click here to change profile image</div>
                      <!--Upload Image Js And Css-->

                           </div>

                    <br>

                    <!-- /input-group -->
                  </div>
                  <div class="col-sm-6">
                  <h4 style="color:#00b1b1;">John Smith</h4></span>
                    <span><p>Athlete</p></span>
                  </div>
                  <div class="clearfix"></div>
                  <hr style="margin:5px 0 5px 0;">


        <div class="col-sm-5 col-xs-6 tital " ><b>Username:</b></div><div class="col-sm-7 col-xs-6 "contenteditable='true'>John</div>
           <div class="clearfix"></div>
        <div class="bot-border"></div>

        <div class="col-sm-5 col-xs-6 tital " ><b>Email:</b></div><div class="col-sm-7"contenteditable='true'> john@gmail.com</div>
        <div class="clearfix"></div>
        <div class="bot-border"></div>

        <div class="col-sm-5 col-xs-6 tital "><b>Date of Birth:</b></div><div class="col-sm-7"contenteditable='true'> 08/05/1997</div>
        <div class="clearfix"></div>
        <div class="bot-border"></div>


        <div class="col-sm-5 col-xs-6 tital " ><b>Gender:</b></div><div class="col-sm-7"contenteditable='true'>Male</div>

        <div class="clearfix"></div>
        <div class="bot-border"></div>

        <div class="col-sm-5 col-xs-6 tital " ><b>Hobbies:</b></div><div class="col-sm-7"contenteditable='true'>Football, Video games and Arsenal</div>

        <div class="clearfix"></div>
        <div class="bot-border"></div>
        <br><br>

<div class=updateBtn id=update_button><input type="submit" value="Submit"></div>
                  <!-- /.box-body -->
                </div>

                <!-- /.box -->

              </div>


          </div>
          </div>
        </div>
          <script>

                    </script>









         </div>
</div>

  </div>
</form>
{% endblock %}
