{% extends 'matchapp/base.html' %}
{% load static %}
{% block content %}

<div class=container_register>
<form action="POST" method="{% url 'login' %}">
    <!--{% csrf_token %}-->
    <div class="imgcontainer">
      <img src="{% static 'images/logo.png' %}" class="logo">
    </div>
    <br>
    {{ form.as_p }}
    <input type="submit" value="Submit">
    <input type="reset" value="Reset">
    <br>
    <p> Do not have an account? <a href="{% url 'signup' %}">Click here</a>.</p>

</form>
<div>
{% endblock %}
