{% extends 'matchapp/base.html' %}
{% load static %}
{% block content %}

<div id="mySidenav" class="sidenav">
    <!--<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->
    <br><br><br><br><br><br>


    <a class = "profile" href="{% url 'displayProfile' %}" name = "displayProfile">Profile</a>
    <a href="{% url 'similarHobbies' %}" name = "similarHobbies" >Matches</a>
    <a href="{% url 'logout' %}" name = "logout">Log out</a>
</div>


{% for match in matches %}
<div id="{{matches.profile.id}}">
    <div ><b>Username:</b></div>
    <div>{{ matches.username }}</div>
    <div><b>Email:</b></div>
    <div> matches.profile.email }}</div>
    <div><b>Date of Birth:</b></div>
    <div> {{ matches.profile.dob }}</div>
    <div>><b>Gender:</b></div>
    <div>{{ user.profile.gender }}</div>
    <div><b>Hobbies:</b></div>
    <div>{{ matches.hobbies }}</div>
</div>
{% endfor %}

{% endblock %}
