{% extends 'matchapp/base.html' %}
{% load static %}
{% block content %}

<div class="container_register">
    <form action="{% url 'register' %}"  method="POST" class="animate" >
      {% csrf_token %}
      <div class="imgcontainer">
        <img src="{% static 'images/logo.png' %}" class="logo">
      </div>

        <h1>Register</h1>
        <hr>

        <!--<label for="email"><b>Email</b></label>
        <input type="email" id=email placeholder="E.g: example@example.com" size=35 name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required><br><br>
      -->
        <label for="username"><b>Username :</b></label><br>
        <input id = "username" type="text" placeholder="Enter username" pattern="[A-Za-z]{3,15}" title="Usernames must be between 3 and 15 characters. Only letters are allowed."name="user" required><br>

      <div oncopy="return false" oncut="return false" onpaste="return false">
        <label for="psw"><b>Password :</b></label><br>
        <input type="password" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Enter a password"
        title="Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required><br>

        <label for="psw-repeat"><b>Repeat Password :</b></label><br>
        <input type="password" id=psw-rep placeholder="Repeat Password" name="psw-repeat" required><br>

      </div>

          <p>By creating an account you agree to our <a onclick='window.location.href="tc/"' href="#" style="color:dodgerblue">Terms & Privacy.
          </a><input type="checkbox" name="tc"style="margin-bottom:15px" required></p>
<hr>
          <button type="submit" class="registerbtn">Register</button>
          <button type="reset" value="Sign Up">Reset</button><br><br>

          <p>Already have an account? <a onclick='window.location.href="login/"' href="#">Sign in</a>.</p>

    </form>
</div>
{% endblock %}
